<% if user_signed_in? %>
	<div class="hero-unit">
	<div class="row">
	  <div class="span8">
	  	<h1>Entrepreneurs<br>
	  		Designers &<br>
	  		Developers</h1>
	  </div>
	</div>

	<br>
	<p>
		<strong>What Motivates You?&nbsp;</strong><%= link_to "Share Your Inspiration", new_pin_path %> & Motivate Creative, Talented People Like Yourself.
	</div>
	<h4><%= link_to "Share", new_pin_path %> your inspiration.</h4>

<% else %>

<div class="hero-unit">
	<div class="row">
	  <div class="span8">
	  	<h1>Entrepreneurs<br>
	  		Designers &<br>
	  		Developers</h1>
	  </div>
	</div>
	<br>
	<p>
		<strong>What Motivates You?&nbsp;</strong><%= link_to "Share Your Inspiration", new_pin_path %> & Motivate Creative, Talented People Like Yourself.

		<!-- </p>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-inverse btn-large" %> -->
		
	</p>
</div>
	<% end %>



