<h1>About</h1>
<p>
	Let’s face it… most of us are at that point where life feels like a large puzzle. You’re initial years out of college are rough. You’re trying to figure out who you are and what you will do and how will you attain your goals while trying to remember to have fun and enjoy your 20s. The transition into the “real world” is harsh, because as it turns out, making your impact doesn’t unfold as you planned. How do you stay motivated? Motivate yourself. Inspire others. 
</p>
